<app-header></app-header>

<section class="instappy-wizard-section">
    <div class="container">
        <div class="terms-condition">
            <div class="row">
                <div class="col-md-12">
                    <h2> Return Policy</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="terms-para">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>