/* .active {
  color: #fdc40a !important;
}

.active:hover {
  border-bottom: 1px solid #fdc40a;
} */

section.nstapp-navbar {
  background: #fff;
  border-left: 10px solid #fdc40a;
  box-shadow: 1px 3px 4px #ebebeb;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

div#navbar ul li a,
div#navbar ul li a:after,
div#navbar ul li a:before {
  transition: all .5s;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu {
  display: none;
  box-shadow: 1px 3px 4px #ebebeb;

}

.dropdown-toggle {
  border: none;
  background-color: transparent;
  border-radius: 0rem;
}

.dropdown-menu.show {
  border-radius: 0px;
  margin-top: 20px;
  box-shadow: 1px 3px 4px #ebebeb;
}

.dropdown-menu.logout-nth.show {
  margin-top: 17.5px;
}

.dropdown-menu {
  border: none;
  padding: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: transparent;

}

.dropdown-item {
  padding: 12px 20px;

}


.secondary-btn {
  color: #000;
  font-family: 'Proxima Nova Rg';
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  border: 1.5px solid #000;
  cursor: pointer;
  text-decoration: none !important;
  transition: all .3s;
}

.primary-btn {
  background: #fdc40a;
  color: #000;
  font-family: 'Proxima Nova Rg';
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid #fdc40a;
  cursor: pointer;
  text-decoration: none !important;
}

.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus,
.secondary-btn:hover,
.secondary-btn:active,
.secondary-btn:focus,
.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus {
  color: unset;
  box-shadow: 0 0 11px rgb(33 33 33 / 20%);
}

div#navbar ul li a:hover:after {
  width: 100%;
}

a.navbar-brand img {
  width: 150px;
  height: 50px;
}

.navbar-toggle {
  border: none;
  background: transparent;
  transform: rotate(180deg);
}

.navbar-toggle:hover {
  background: transparent;
}

a.nav-link.primary-btn:after,
a.nav-link.secondary-btn:after {
  display: none;
}

a.nav-link.primary-btn:hover,
a.nav-link.secondary-btn:hover {
  color: unset !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  left: 3px;
  transition: all 0.2s;
  position: relative;
  margin-bottom: 5px;
}

.navbar-toggle.collapsed .icon-bar:nth-child(1) {
  display: block;
  background: #333;
  color: black;
  height: 3px;
  border-radius: 50px;
  width: 22px;
}

.navbar-toggle.collapsed .icon-bar:nth-child(2) {
  width: 30px;

}

.navbar-toggle .icon-bar:nth-child(2) {
  display: block;
  background: #333;
  color: black;
  height: 3px;
  border-radius: 50px;
  opacity: 0;
}

.navbar-toggle.collapsed .icon-bar:nth-child(3) {
  display: block;
  background: #333;
  color: black;
  height: 3px;
  border-radius: 50px;
  width: 22px;
}

.navbar-toggle .icon-bar:nth-child(1) {
  width: 30px;
  display: block;
  background: #333;
  color: black;
  height: 3px;
  border-radius: 50px;
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle .icon-bar:nth-child(3) {
  width: 30px;
  display: block;
  background: #333;
  color: black;
  height: 3px;
  border-radius: 50px;
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .icon-bar:nth-child(1) {
  transform: rotate(0);
}

.navbar-toggle.collapsed .icon-bar:nth-child(2) {
  opacity: 1;
}

.navbar-toggle.collapsed .icon-bar:nth-child(3) {
  transform: rotate(0);
}

.navbar-toggle.collapsed .icon-bar {
  left: 0;
}

.navbar-expand-lg .navbar-nav li {
  padding: 0px 10px;
  position: relative;
  display: block;
  border-right: 1px solid #ccc;
}

.navbar-expand-lg .navbar-nav li a,
.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
}

a.nav-link.primary-btn,
a.nav-link.secondary-btn {
  padding: .5rem 1.5rem !important;
  font-weight: 600;
}

a.nav-link.secondary-btn {
  font-weight: 600;
}

.navbar-expand-lg .navbar-nav li:last-child {
  margin-right: 0;
}

.btn-primary.border-0.text-white {
  border-radius: 8px;
  padding: 8px 15px;
  border: none;
  outline: none;
  font-size: 12px !important;
  font-weight: bold !important;
}

a#navbar-dropdown>i.fa.fa-user {
  width: 35px;
  height: 35px;
  color: #007bff;
  background: #dfeffa;
  line-height: 35px;
  text-align: center;
  border-radius: 100px;
  font-size: 20px;
}

a#navbar-dropdown>i.fa.fa-user:hover {
  color: #ffffff;
  background: #0069d9;
  transition: all 0.5s;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  align-items: center;
}

.dropdown-menu {
  min-width: 7rem;
  border-radius: 0px;
}

.left_line_logo {
  display: none;
}

@media (max-width: 1199.9px) {

  .navbar-expand-lg .navbar-nav li a,
  .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}

@media (max-width: 991.9px) {
  .navbar-expand-lg .navbar-nav li {
    margin-bottom: 15px;
    margin-right: 0px;
  }

  .navbar-expand-lg .navbar-nav li a,
  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    padding: 0;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    flex-direction: row-reverse;
  }

  .nav-link.secondary-btn {
    width: auto !important;
    text-align: center;
  }

  .nav-link.primary-btn {
    width: auto !important;
    text-align: center;
    margin-bottom: 20px;
  }
}


@media (max-width: 767px) {
  .left_line_logo {
    border-left: 6px solid #fdc40a;
    height: 60px;
    float: left;
    clear: both;
    display: block;
  }

  section.nstapp-navbar {
    border: none;
  }

  ul.navbar-nav>li {
    display: block;
    margin-bottom: 8px;
  }

  ul.navbar-nav.ml-auto.mt-2.mt-lg-0 {
    display: block;
    margin-top: 20px !important;
    padding-bottom: 20px;
  }

  li.nav-item {
    border-right: 0px;
  }

  .dropdown-menu.show {
    box-shadow: none !important;
  }

  .navbar-expand-lg .navbar-nav li {
    border-right: 0px;
  }

  ul.navbar-nav.ml-auto.mt-2.mt-lg-0>li {
    margin-bottom: 0px;
  }

  .dropdown-menu.show {
    margin-top: 0px;
  }

  .dropdown-item {
    padding: 6px 0px;
  }
}