<app-header></app-header>
<section class="login-page">
    <div class="container">
        <div class="login-formbox">
            <span *ngIf="message" class="message-cntact-form">{{ message }}</span>

            <!-- SignUp Form -->
            <div class="create-form">
                <div class="login-form-head text-center">
                    <h3>Create your Account</h3>
                </div>
                <form [formGroup]="changepassForm" (ngSubmit)="onChangePasswordSubmit()">
                    <div class="form-group">
                        <label for="registerInputName">Your Password *</label>
                        <div class="eye-relative">
                            <input type="{{passwordViewtype}}" formControlName="password" class="form-control"
                                id="registerPassword" placeholder="Type your password"
                                [ngClass]="{ 'is-invalid': submitted && changepassform.password.errors }">
                            <div class="show_pass_login login-eye">
                                <i [ngStyle]="{'display': (showPassview==true) ? 'inline-block' : 'none'}"
                                    (click)="togglePassword($event)" class="fa fa-eye-slash" aria-hidden="true"></i>
                                <i [ngStyle]="{'display': (showPassview==false) ? 'inline-block' : 'none'}"
                                    (click)="togglePassword($event)" class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div *ngIf="submitted && changepassform.password.errors" class="invalid-feedback">
                                <div *ngIf="changepassform.password.errors.required">Please enter your password</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registerInputName">Confirm Password *</label>
                        <div class="eye-relative">
                            <input type="{{passwordViewtype}}" formControlName="confirmpassword" class="form-control"
                                id="registerPassword" placeholder="Type your confirm password"
                                [ngClass]="{ 'is-invalid': submitted && changepassform.confirmpassword.errors }">
                            <div class="show_pass_login login-eye">
                                <i [ngStyle]="{'display': (showPassview==true) ? 'inline-block' : 'none'}"
                                    (click)="togglePassword($event)" class="fa fa-eye-slash" aria-hidden="true"></i>
                                <i [ngStyle]="{'display': (showPassview==false) ? 'inline-block' : 'none'}"
                                    (click)="togglePassword($event)" class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div *ngIf="submitted && changepassform.confirmpassword.errors" class="invalid-feedback">
                                <div *ngIf="changepassform.confirmpassword.errors.required">Please enter your confirm
                                    password</div>
                            </div>
                        </div>
                    </div>
                    <div class="inf-regsiter">
                        <p class="registerdesc text-center">By creating an account, you confirm to read and agree to our
                            <a routerLink="/terms-condition"> Terms & Conditions</a> & <a
                                routerLink="/privacy-policy">Privacy
                                Policy.</a>
                        </p>
                    </div>
                    <button class="primary-btn" type="submit" value="submit">Submit</button>
                    <!-- <button class="primary-btn" [disabled]="UserForm.invalid">Register</button> -->
                </form>
                <div class="login-form-btm text-center">
                    <p>Already have an account? <a href="/login">Login</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>