<app-header></app-header>
<!-- <div class="header-height"></div> -->
<section class="varify-section">
    <div class="container">
        <div class="varify-header-bx text-center">      

                  <div class="varification-bx">
                    <div class="varify-header-bx text-center">
                      <h3>User Verified Successfully</h3>                      
                    </div>
                    <!-- <ul> -->
                      <!-- <li> -->
                        <div class="varify-icon">
                          <img src="../../assets/images/varifyicn.png">
                        </div>
                      <!-- </li> -->
                      <!-- <li> -->
                        <div class="varify-desc">
                          <!-- <h4> Please Login <a routerLink="/login" class="login_page"> Here...</a> </h4> -->
                          <a routerLink="/login">
                          <button class="btn btn-warning" id="login_button" type="button" value="login">Login</button>
                          </a>
                        </div>
                      <!-- </li> -->
                    <!-- </ul> -->
                  </div>
                <!-- </div> -->
              <!-- </section> -->
            <!-- <h3>{{message}}</h3> -->
        </div>
    </div>
</section>