h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: 'Proxima Nova Rg';
}

/* pagination css start */
h5.title_para {
    margin: 20px 0px;
    font-weight: 700;
}

.line_para {
    padding: 2px;
    display: block;
    margin: 0px 0px 10px 0px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

/*end paginatin css*/

.search-bx-box ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin-bottom: 0;
}

.search-bx-zone {
    display: flex;
}

.new-app-btn a {
    background: #fecd01;
    padding: 10px 20px;
    margin-left: 10px;
    color: #000;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    height: 37px;
    text-decoration: none;
    font-weight: 600;
}

.new-app-btn>a:hover {
    color: unset;
    box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    transition: all 0.5s;
}

.heading-bx>h2 {
    font-size: 25px;
    font-family: 'Proxima Nova Rg';
    font-weight: bold;
}

.my-apps-bx {
    padding: 50px 0 20px;
    background-color: #f9fafb;
}

.app-bx-block li {
    flex: 0 0 32%;
    list-style: none;
    box-shadow: 0 7px 29px 0 #83839c33;
    border-radius: 15px;
    padding: 35px 20px;
    margin-bottom: 0px;
    background: #fff;

}

.icon-bx {
    text-transform: capitalize;
}


.app-icon-bx {
    display: flex;
    margin-bottom: 13px;
}

.app-detailed-bx {
    margin-bottom: 13px;
}

.icon-bx {
    width: 50px;
    text-align: center;
    height: 50px;
    color: #fff;
    /* background: rebeccapurple; */
    border-radius: 4px;
    margin-right: 15px;
    overflow: hidden;
    line-height: 50px;
    font-size: 14px;
    border: 1px solid #cccccc1f;
    font-weight: 600;
}

.icon-bx>img {
    /* width: 48px;
    height: 48px; */
    max-width: 100%;
}

.icon-bx h2 {
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 30px;
}

.app-bx-block li a {
    text-decoration: unset;
    color: unset;
}

.app-desc-bx h3 {
    font-size: 14px;
    font-weight: 700;
    font-family: Proxima Nova Rg;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.app-detailed-bx h4 {
    font-size: 14px;
    color: #000;
    font-weight: 300;
}

.app-detailed-bx h4 span {
    font-family: Proxima Nova Rg;
    font-weight: 700;
}

.published-bx {
    background: #e8f1fb;
    padding: 3px 10px;
    border-radius: 4px;
    color: #1a79d3 !important;
    font-size: 12px;
}


.not-published-bx {
    background: #f2f3f4;
    padding: 7px 15px;
    border-radius: 4px;
    color: #818a8f !important;
    font-size: 14px;
    font-family: Proxima Nova Regular;
}

.search input {
    border: 2px solid #d6d4d4;
    padding: 10px 52px 10px 10px;

}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 11px;
    right: 10px;
    color: #ccc;
}

.search {
    position: relative;
}

.app-bx-block li:nth-child(1) .icon-bx {
    /* background-color: #a4cc1e; */
    overflow: hidden;
}

.app-bx-block li:nth-child(1) .click-btn {
    background: #e8f1fb;
    padding: 7px 15px;
    border-radius: 4px;
    color: #096ad5 !important;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
}

.app-bx-block li:nth-child(2) .icon-bx {
    /* background-color: #f06292; */
    overflow: hidden;
}

/* .app-bx-block li:nth-child(3) .icon-bx {
    background-color: #ef5350;
} */

.app-bx-block li:nth-child(3) .click-btn {
    background: #f2f3f4;
    padding: 7px 15px;
    border-radius: 4px;
    color: #818a8f !important;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
}

/* .app-bx-block li:nth-child(4) .icon-bx {
    background-color: #00bcd4;
} */

.app-bx-block li:nth-child(4) .click-btn {
    background: #f2f3f4;
    padding: 7px 15px;
    border-radius: 4px;
    color: #818a8f !important;
    font-size: 14px;
    font-family: Proxima Nova Regular;
}

/* .app-bx-block li:nth-child(5) .icon-bx {
    background-color: #ab47bc;
} */

.app-bx-block li:nth-child(5) .click-btn {
    background: #f2f3f4;
    padding: 7px 15px;
    border-radius: 4px;
    color: #818a8f !important;
    font-size: 14px;
    font-family: Proxima Nova Regular;
}

.app-bx-block li:nth-child(6) .icon-bx {
    background-color: #a4cc1e;
}

.app-bx-block li:nth-child(6) .click-btn {
    background: #f2f3f4;
    padding: 7px 15px;
    border-radius: 4px;
    color: #818a8f !important;
    font-size: 14px;
    font-family: Proxima Nova Regular;
}





.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #000000;
    color: #fefefe;
    cursor: default;
}

.no-record>img {
    max-width: 40%;
}

.no-record>p {
    font-size: 20px;
    margin-bottom: 0px;
}


.blog-paginatin-bx {
    margin: 50px 0px;
}

.no-record {
    text-align: center;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
}

.app-bx-block {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 22px;
    column-gap: 22px;

}

.icon-bx>img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

@media (min-width:991.98px) and (max-width:1199.98px) {
    .app-bx-block {
        gap: 13px;
    }
}

@media (min-width:767.98px) and (max-width:991.98px) {
    .app-bx-block li {
        flex: 0 0 48%;

    }
}

@media (max-width:767.9px) {
    ul.app-bx-block {
        display: flex;
    }

    .app-bx-block li {
        margin-bottom: 15px;
    }

    h5.title_para {
        text-align: center;
    }

    .no-record>p {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .search-bx-box ul {
        display: flex;
        text-align: center;
    }

    .line_para {
        margin: 0px 0px 14px 0px;

    }
}