section.login-page {
    background: url("../../../assets/images/loginbg.png") no-repeat;
    background-position: center center;
    padding: 30px 0;
}

.login-formbox {
    width: 40%;
    margin: 20px auto;
    box-shadow: rgb(0 0 0 / 8%) 0px 3px 8px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;

}

.login-form-head h3 {
    font-family: 'Proxima Nova Rg';
    font-weight: 700;
    margin: 0;
    padding: 10px 0;
    font-size: 26px;
}

.login-formbox label {
    font-family: 'Proxima Nova Rg';
    font-weight: 700;
    font-size: 12px;
}

.login-formbox input {
    font-size: 16px;
    font-family: 'Proxima Nova Rg';
    color: #000;
}

.login-form-btm {
    padding-top: 20px;
}

.login-form-btm p {
    font-family: 'Proxima Nova Rg';
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.login-form-btm p a {
    margin-left: 10px;
    font-weight: 700;
    color: #000;
}

.show_pass_login.login-eye i {
    color: #8b8b8b;
}

.eye-relative {
    position: relative;
}

.show_pass_login {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.primary-btn {
    background: #fdc40a;
    color: #000;
    font-family: 'Proxima Nova Rg';
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #fdc40a;
    cursor: pointer;
    text-decoration: none !important;
}

.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus,

p.registerdesc {
    font-size: 12px;
    font-family: 'Proxima Nova Rg';
}

@media (max-width: 991.9px) {
    .login-formbox {
        width: 80%;
    }
}

@media (max-width:767.9px) {
    section.login-page {
        background: none;
    }
}

input.ng-valid {
    border-left: 5px solid green;
}

span.message-success {
    text-align: center;
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    background: #b9ffb9;
    padding: 3px;
}

span.message-failed {
    text-align: center;
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    background: #ffd1bd82;
    padding: 3px;
}