<app-header></app-header>
<div class="header-height"></div>
<section class="login-page"  >
   <div class="container">
      <div class="login-formbox">
        <div class="changePassword-form"  >
            <div class="login-form-head text-center">
               <h3>New Password</h3>
            </div>
            <form>
               <div class="form-group">
                  <label for="loginPassword">New Password</label>
                  <div class="eye-relative">
                     <input type="{{passwordViewtype}}" class="form-control" id="loginPassword" placeholder="password">
                     <div class="show_pass_login login-eye">
                        <i [ngStyle]="{'display': (showPassview==true) ? 'inline-block' : 'none'}"  (click)="togglePassword($event)"  class="fa fa-eye-slash" aria-hidden="true"></i>
                        <i [ngStyle]="{'display': (showPassview==false) ? 'inline-block' : 'none'}"  (click)="togglePassword($event)" class="fa fa-eye" aria-hidden="true"></i>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="loginPassword">Confirm Password</label>
                  <div class="eye-relative">
                     <input type="{{passwordViewtype1}}" class="form-control" id="loginPassword" placeholder="password">
                     <div class="show_pass_login login-eye">
                        <i [ngStyle]="{'display': (showPassview1==true) ? 'inline-block' : 'none'}"  (click)="togglePassword1($event)"  class="fa fa-eye-slash" aria-hidden="true"></i>
                        <i [ngStyle]="{'display': (showPassview1==false) ? 'inline-block' : 'none'}"  (click)="togglePassword1($event)" class="fa fa-eye" aria-hidden="true"></i>
                     </div>
                  </div>
               </div>
               <a type="submit" class="primary-btn">submit</a>
            </form>
            <div class="login-form-btm text-center">
            </div>
         </div>
      </div>
   </div>
</section>

